.seccion-embarazo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 40% 30%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        background-color: #131313;
        z-index: -1;
    }
    .descripcion,
    .paquete-basico,
    .paquete-premium,
    .paquete-gold {
        width: 80%;
        margin: 0 auto;
        padding: 4rem 0;
        height: 100%;
    }
    .descripcion,
    .paquete-premium {
        margin-top: 4rem;
    }
    .paquete-basico,
    .paquete-gold {
        margin-bottom: 4rem;
    }
    .paquete-basico,
    .paquete-premium,
    .paquete-gold {
        h4 {
            margin-bottom: 2rem;
        }
        ul {
            font-size: 1.8rem;
        }
        p {
            margin-top: 2rem;
            text-align: right;
            font-weight: bold;
            font-size: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #ffffff;
        }
    }
    .paquete-basico {
        p {
            border-color: #131313;
        }
    }
    .paquete-premium,
    .paquete-gold {
        p,
        ul {
            color: #ffffff;
        }
    }
    .seccion-1 {
        grid-row: 1/2;
        grid-column: 1/2;
        .descripcion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                height: .15rem;
                top: 6rem;
                right: 0;
                left: 0;
                background-color: #131313;
            }
            p {
                text-align: left;
                font-weight: unset;
                font-size: 1.8rem;
            }
            .titulo-movile {
                display: none;
            }
        }
    }
    .seccion-2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .seccion-3 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .seccion-4 {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .seccion-5 {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        .img-main {
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img {
                width: 33%;
            }
        }
        .titulo {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #a4753d;
            position: relative;
            h3 {
                /*font-size: 6rem;*/
                font-size: clamp(4rem, 5vw, 8rem);
            }
            p {
                /*font-size: 2.5rem;*/
                font-size: clamp(1.5rem, 2vw, 2.5rem);
            }
            &::before,
            &::after {
                content: '';
                position: absolute;
                height: .15rem;
                right: 10%;
                left: 10%;
                background-color: #a4753d;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .seccion-embarazo {
        display: flex;
        flex-direction: column;
        &::before {
            content: '';
            width: 100%;
        }
        .descripcion,
        .paquete-basico {
            color: #ffffff;
        }
        .paquete-basico {
            margin-bottom: 1rem;
            p {
                border-color: #ffffff;
            }
        }
        .paquete-premium {
            margin-top: 0;
        }
        .seccion-1 {
            background-image: url(../img/imagen-blog4.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            order: 1;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000080;
            }
            .descripcion {
                padding: 5rem 0;
                display: block;
                width: 80%;
                margin: 0 auto;
                &::before {
                    display: none;
                }
                .titulo-movile {
                    color: #a4753d;
                    text-align: center;
                    margin-bottom: 6rem;
                    display: block;
                    position: relative;
                    h3 {
                        font-size: clamp(6rem, 5vw, 8rem);
                    }
                    p {
                        font-size: 2.5rem;
                        text-align: center;
                    }
                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        height: .1rem;
                        right: 10%;
                        left: 10%;
                        background-color: #a4753d;
                    }
                    &::before {
                        top: 0;
                    }
                    &::after {
                        bottom: -1rem;
                    }
                }
            }
        }
        .seccion-2 {
            order: 2;
        }
        .seccion-3 {
            order: 3;
        }
        .seccion-4 {
            order: 5;
        }
        .seccion-5 {
            order: 4;
            .img-main {
                width: 100%;
            }
            .titulo {
                display: none;
            }
        }
    }
}